
# generated config files 
config/*.yaml
joint2osc.yaml

# logs
experiments/*
logs/*

# setup 
farms/farms_*

# env
obstacle/*

# pycache 
scripts/__pycache__/*
utils/__pycache__/*
rlgym/__pycache__/*
agnathax_control/__pycache__/*

rl_obstacle.egg-info/


# build
build/*
agnathax_control/ode.cpython-38-x86_64-linux-gnu.so
agnathax_control/ode.c
*/*.cpython-38-x86_64-linux-gnu.so
*/*.c

# settings, as they use absolute paths
.vscode
*.code-workspace