
# logs
**/logs/

# env
obstacle/*

# farms
/farms/*
!farms/core/
!farms/core/*
!farms/core/**/*
#/farms_core/farms_core/sensors/data.py
#!farms/farms_amphibious/farms_amphibious/data/network.py

# pycache 
scripts/__pycache__/*
utils/__pycache__/*
rlgym/__pycache__/*
agnathax_control/__pycache__/*

rl_obstacle.egg-info/


# build
build/*
agnathax_control/ode.cpython-38-x86_64-linux-gnu.so
agnathax_control/ode.c
*/*.cpython-38-x86_64-linux-gnu.so
*/*.c

# eggs
.eggs/*