# results
*.pdf
*.mp4
*.txt
*.pkl
*.zip
*.csv


# env
obstacle/*

# logs
*events.out.tfevents*

# farms
/farms
!/farms/farms_core/farms_core/sensors/*
!/farms/farms_core/farms_core/sensors/data.py
!farms/farms_amphibious/farms_amphibious/data/*
!farms/farms_amphibious/farms_amphibious/data/network.py
!farms/farms_mujoco/farms_mujoco/simulation/*
!farms/farms_mujoco/farms_mujoco/simulation/simulation.py

# pycache 
scripts/__pycache__/*
utils/__pycache__/*
rlgym/__pycache__/*
agnathax_control/__pycache__/*

rl_obstacle.egg-info/


# build
build/*
agnathax_control/ode.cpython-38-x86_64-linux-gnu.so
agnathax_control/ode.c
*/*.cpython-38-x86_64-linux-gnu.so
*/*.c

# eggs
.eggs/*

*.so
__pycache__